*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

html {
  font-family: var(--font-family);
  font-size: 17px;
  font-weight: 500;
  line-height: 140%;
  color: var(--color-text);
  background-color: var(--color-bg-light);
}
