:root {
  --color-primary: #6c38cc;
  --color-secondary: #e47ad5;
  --color-text: #fafafa;
  --color-link-hover: #afb2bf;
  --color-bg: #16171d;
  --color-bg-light: #2e2d3d;
  --color-bg-medium: #1e1f29;
  --color-bg-footer: #101114;
  --color-stroke: #4d5064;
  --border-5: 5px;
  --border-8: 8px;
  --border-10: 10px;
  --layout-width: 1172px;
  --gradient: linear-gradient(158deg, #d77be5 0%, #be63e5 34.69%, #6c38cc 100%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--color-bg);
  margin: 0;
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
}

a {
  text-decoration: none;
}
