:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Source Sans Pro", sans-serif;
}

* {
  font-family: var(--font-family);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(180deg, #374151 0%, #111827 100%);
}

a,
p,
h1 {
  color: #ffffff;
}

header {
  margin-bottom: 70px;
}

a {
  font-size: 16px;
  text-decoration: none;
}

ul {
  list-style: none;
}

#search {
  background-color: #283241;
  padding: 8px 20px;
  border: none;
  border-radius: 20px;
  color: #ffffff;
}

#search:focus {
  outline: none;
}

#search::placeholder {
  color: #ffffff;
  opacity: 0.6;
}

.header__container {
  display: flex;
  align-items: center;
  gap: 70px;
  max-width: 1080px;
  margin: 0 auto;
  padding: 72px 0 0 0;
}

.nav__container ul {
  display: flex;
  gap: 40px;
  align-self: flex-start;
}

.blog__link {
  font-size: 18px;
}

.header__btn {
  font-family: var(--second-family);
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  border-radius: 3px;
  width: 35px;
  height: 35px;
  border-width: 0;
  background: #4b5563;
  margin-right: 10px;
  cursor: pointer;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.15);
}

.search__input {
  position: relative;
  margin-left: auto;
}

.search__icon {
  position: absolute;
  width: 14px;
  height: 14px;
  left: 3px;
  top: 8px;
  fill: #808080;
  transition: fill 0.1s linear;
}

.article {
  max-width: 1080px;
  margin: 0 auto;
}

.article__image {
  max-width: 100%;
}

.topic {
  color: #adb1b7;
  font-size: 14px;
  text-align: center;
  margin-bottom: 14px;
}

.title {
  font-size: 24px;
  line-height: 38px;
  margin-bottom: 30px;
  text-align: center;
}

.author__container {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;
}

.author__container img {
  max-width: 50px;
}

.author .name {
  font-size: 16px;
  line-height: 28px;
}

.author .position {
  color: #abafb6;
  font-size: 14px;
  line-height: 28px;
  line-height: 2;
}

.article__container {
  margin: 28px auto 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 69px;
}

.article__image-container {
  max-width: 896px;
}

.article__container img {
  width: 100%;
}

.article__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  max-width: 708px;
  margin: 69px auto 0;
}

.article__content p {
  font-size: 16px;
  line-height: 30px;
}
.article__content p:first-child {
  font-size: 20px;
  line-height: 32px;
}

.article__content p a {
  text-decoration: underline;
}

.article_text span {
  text-decoration: underline;
}

.footer__text {
  font-size: 16px;
  line-height: 28px;
  color: #a0a3a9;
  margin-top: 80px;
  text-align: center;
  padding-bottom: 70px;
}
